
body {
    margin: 0;
    padding: 0;
    opacity: 0.9;
    background: url("/images/taxi1.jpg") 15% 15%;
    background-size: cover;

}
.title{
    font-family: Ubuntu-Bold;
    font-size: 28px;
    color: rgb(64, 199, 129);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.mainBlockLogin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
}


.blockSecondLogin {
    margin-top: 100px;
    background-color: white;
    height: 430px;
    border-radius: 15px;
}

.login {
    height: 110px;
}

input[type=text], input[type=password] {
    border: 0;
    border-bottom: 1px solid #feb386;
    text-align: left;
    margin-top: 1%;
    padding: 25px 120px 25px 120px;
    font-size: 20px;
    font-family: "Arial";
    color: lightgrey;
}

.password {
    height: 110px;
    margin: 0px auto;
}

input[type="text"]::-moz-placeholder {
    font-size: 20px;
}

.buttonSingIn {
    margin-left: 9%;
    margin-top: 3%;
    padding: 15px 158px 15px 158px;
    font-size: 20px;
    font-family: "Arial";
    border-radius: 3px;
    border: 0;
    background: rgb(64, 199, 129);
    color: white;
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.buttonSingIn:hover {
    background: rgb(53, 167, 110);
}

.buttonSingIn:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.buttonRegestration {
    display: inline-block;
    text-decoration: none;
    margin-left: 9%;
    margin-top: 3%;
    padding: 15px 132px 15px 132px;
    font-size: 20px;
    font-family: "Arial";
    border-radius: 3px;
    border: 0;
    background: rgb(64, 199, 129);
    color: white;
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

.buttonRegestration:hover {
    background: rgb(53, 167, 110);
}

.buttonRegestration:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}

@media screen and (min-width: 1920px){
    .blockSecondLogin {
        margin-top: 200px;
        background-color: white;
        height: 460px;
        border-radius: 15px;
    }
    .login {
        height: 80px;
    }
    .password {
        height: 80px;
    }
    input[type=text], input[type=password] {
        border: 0;
        border-bottom: 1px solid #feb386;
        text-align: left;
        margin-left: 40px;
        margin-top: 1%;
        padding: 25px 160px 25px 160px;
        font-size: 20px;
        font-family: "Arial";
        color: lightgrey;
    }
    .buttonRegestration {
        display: inline-block;
        text-decoration: none;
        margin-left: 20%;
        margin-top: 3%;
        padding: 15px 132px 15px 132px;
        font-size: 20px;
        font-family: "Arial";
        border-radius: 3px;
        border: 0;
        background: rgb(64, 199, 129);
        color: white;
        box-shadow: 0 -3px rgb(53, 167, 110) inset;
        transition: 0.2s;
    }
    .buttonSingIn {
        margin-left: 20%;
        margin-top: 5%;
        padding: 15px 158px 15px 158px;
        font-size: 20px;
        font-family: "Arial";
        border-radius: 3px;
        border: 0;
        background: rgb(64, 199, 129);
        color: white;
        box-shadow: 0 -3px rgb(53, 167, 110) inset;
        transition: 0.2s;
    }
}
