body {
    margin: 0;
    padding: 0;
}

.mainMenu a:before, .mainMenu a:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 50%;
    top: 55px;
    left: 50%;
    background: #feb386;
    transition: .8s;

}

.mainMenu a:hover:before {
    left: 0;
}

.mainMenu a:hover:after {
    right: 0;
}

.mainMenu a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.mainMenu > nav > div > ul > li {
    margin-left: 20px;
    padding-bottom: 6px;
    padding-top: 5px;
}

.emblem > img {
    margin-left: 15%;
    margin-top: 2%;
}

.accaunt > button {
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 2%;
}

.tableOne {
    margin-top: 15%;
}

#canvas_tt5ca67c5aaf85a {
    margin-left: 50px;
}

.blockOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 78px;
}

.blockTwo {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.6fr;
}

.mainBlock {
    height: 100vh;
    background-color: #34383b;
}

.img-fluid {
    margin-top: 19px;
    margin-left: 59px;
}

#newClassForAccaunt {
    margin-left: 200px;
}

#map {
    height: 87vh;
}

#map input[type=text] {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    text-align: left;
}

#map .ymaps-2-1-73-control-popup__content {
    width: 300px;

}

#map .ymaps-2-1-73-route-panel-input__location {
    background-image: none;
}

#first {
    /*background-color: #4B4D65;Для радио кнопок бэкграунд*/
}

.section {
    padding: 100px;
    padding-left: 150px;
}

.section input[type="radio"] {
    display: none;
}

.container {
    margin-bottom: 10px;
}

.container label {
    position: relative;
}

/* Base styles for spans */
.container span::before,
.container span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Radio buttons */
.container span.radio:hover {
    cursor: pointer;
}

.container span.radio::before {
    left: -52px;
    width: 45px;
    height: 25px;
    background-color: #A8AAC1;
    border-radius: 50px;
}

.container span.radio::after {
    left: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: #6C788A;
    transition: left .25s, background-color .25s;
}

input[type="radio"]:checked + label span.radio::after {
    left: -27px;
    background-color: #EBFF43;
}

#newForMap {
    opacity: 0;
}

.newForCars {
    position: absolute;
    z-index: 1;
    left: 1020px;
}

.newForCar{
    display: none;
}