@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

h1 {
    font: 400 40px 'pt sans', sans-serif;
    text-align: center;
}

.nav a {
    text-decoration: none;
}

.nav {
    height: 70px;
    position: relative;
    top: 20px;
}

.nav > ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav > ul > li > ul {
    position: absolute;
    left: 170px;
    top: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav > ul > li:hover > ul li a {
    opacity: 1;
    height: 50px;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.nav > ul > li > ul a {
    display: block;
    width: 150px;
    line-height: 50px !important;
    font: 700 14px 'pt sans', sans-serif;
    opacity: 0;
    text-align: center;
    padding: 0 5px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear .2s;
    -o-transition: all .3s linear .2s;
    -moz-transition: all .3s linear .2s;
    -webkit-transition: all .3s linear .2s;
}

.nav > ul > li {
    float: left;
    position: relative;
}

.nav > ul > li > div {
    float: left;
    position: relative;
}

.nav > ul > li > a {
    padding: 0 20px;
    color: #fff;
    display: block;
    line-height: 70px !important;
    font: 400 15px 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.navOne a {
    text-decoration: none;
}

.navOne {
    height: 70px;
    position: relative;
    left: 70px;
    top: 20px;
}

.navOne > ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navOne > ul > li {
    float: left;
    position: relative;
}

.navOne > ul > li > div {
    float: left;
    position: relative;
}

.navOne > ul > li > a {
    padding: 0 25px 0 25px;
    margin-top: -17px;
    color: #fff;
    display: block;
    line-height: 70px !important;
    font: 400 15px 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
.liOne > ul {
    opacity: 0;
    position: absolute;
    left: 400px;
    top: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.liOne:hover > ul {
    background-color: #6c757d;
    padding:15px 10px 0 60px;
    margin-top: 0px;
    left: 300px;
    z-index: 5;
    opacity: 1;
    height: 95px;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    border-radius: 15px;
}
.liOne ul li {
    padding-top: 0px;
}
.liOne ul li a {
    color: #222222;
}
.liOne a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 0px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
    color: white;
    top: 5px;
}

.liOne a:hover {
    color: white;
}

.liOne ul li a:hover {
    color: #feb386;
}



.aOne:before, .aOne:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 50%;
    top: 54px;
    left: 50%;
    background: #feb386;
    transition: .8s;
    z-index: 15;
}

.aTwo:before, .aTwo:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 50%;
    top: 30px;
    left: 50%;
    background: #feb386;
    transition: .8s;
    z-index: 15;
}
.aTwo{
    padding: 0 25px 0 25px;
}
.mainMenu a:hover:before {
    left: 0;

}

.mainMenu a:hover:after {
    right: 0;

}

.mainMenu a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
@media screen and (min-width: 1920px){
    .navOne {
        height: 70px;
        position: relative;
        left: 150px;
        top: 20px;
    }
    .navOne > ul > li > a {
        padding: 0 40px 0 40px;
        margin-top: -17px;
        color: #fff;
        display: block;
        line-height: 70px !important;
        font: 400 15px 'PT Sans', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
    }
    .aTwo{
        padding: 0 40px 0 40px;
    }
    .liOne:hover > ul {
        background-color: #6c757d;
        padding:15px 10px 0 60px;
        margin-top: 0px;
        left: 380px;
        z-index: 5;
        opacity: 1;
        height: 95px;
        transition: all .3s linear;
        -o-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        border-radius: 15px;
    }
}

