<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Cars.css"/>
</head>
<body>
<div>
    <header>
        <div class="emblem">
            <div style="background-color: yellow">
                <img src="/images/frontal-taxi-cab.png">
            </div>
            <div style="background-color: yellow"></div>
            <div style="background-color: yellow">
                <a href="/main">
                    <button type="button" class="btn btn-dark btn-lg">Меню</button>
                </a>
            </div>
        </div>
    </header>
    <div class="mainBlock" style="background-color: #34383b;border-radius: 50px;padding-top: 80px">
        <div style="background-color: darkkhaki;margin: 0 auto;width: 600px;border-radius: 20px">
            <form method="post" style="margin-left: 15%;padding-top: 20px">
                <div class="modal-body">

                    <div class="form-group row" >
                        <div class="col-sm-10">
                            <input type="text" name="mark" class="form-control"
                                   placeholder="Введите марку" th:value="${car.mark}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-10">
                            <input type="text" name="carmodek" class="form-control"
                                   placeholder="Введите модель" th:value="${car.model}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-10">
                            <input type="text" name="type" class="form-control"
                                   placeholder="Введите тип кузова" th:value="${car.type}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-10">
                            <input type="number" name="seats" class="form-control"
                                   placeholder="Введите тип кузова" th:value="${car.seatsnumber}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-10">
                            <input type="text" name="govnumber" class="form-control"
                                   placeholder="Введите гос. номер" th:value="${car.govnumber}">
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control"
                                   th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                        </div>
                    </div>

                    <button class="buttonEdit" type="submit">Изменить</button>


                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>