<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/css/hello.css" rel="stylesheet">
</head>
<body>
<div class="mainBlock">
    <div class="wrapper">
        <input type="radio" name="point" id="slide1" checked>
        <input type="radio" name="point" id="slide2">
        <input type="radio" name="point" id="slide3">
        <input type="radio" name="point" id="slide4">
        <input type="radio" name="point" id="slide5">
        <div class="slider">
            <div class="slides slide1">
                <div><img src="images/online-booking.png"></div>
                <div class="letterOne"><p class="spanForSliderFirst">Бронирование транспорта через наш сайт – это
                    удобный
                    способ добраться из одного города в другой по Беларуси.</p></div>
            </div>
            <div class="slides slide2">
                <div><img src="images/clock.png"></div>
                <div class="letterTwo"><p class="spanForSliderSecond">Теперь чтобы забронировать маршрутку, вам не нужно
                    звонить диспетчеру по телефону. Таким образом, вы полностью исключаете общение с диспетчером и
                    экономите своё время.</p></div>
            </div>
            <div class="slides slide3">
                <div><img src="images/money.png"></div>
                <div class="letterThree"><p class="spanForSliderThird">Да, сервис не взимает с пассажиров никаких
                    комиссий и не требует оплаты за свои услуги.</p></div>
            </div>
            <div class="slides slide4">
                <div><img src="images/view.png"></div>
                <div class="letterFour"><p class="spanForSliderFourth">При заказе вы можете видеть наличие wi-fi,
                    розетки для подзарядки,
                    номер телефона водителя для связи, номер машины, марку на
                    которой вы поедете.</p></div>

            </div>
            <div class="slides slide5">
                <div><img src="images/website.png"></div>
                <div class="letterFive"><p class="spanForSliderFifth">Смотрите в личном кабинете собственную историю
                    заказов.</p></div>
            </div>
        </div>
        <div class="controls">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
            <label for="slide5"></label>
        </div>
    </div>
    <div>
        <a class="MainButton" href="/main">Go to page</a>
    </div>
</div>
<script src="js/letters.js"></script>

</body>
</html>