<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<div class="mainBlockLogin">
    <div class="blockFirstLogin">

    </div>
    <div class="blockSecondLogin">
        <div>
            <span class="title">Аккаунт</span>
        </div>
        <form action="/login" method="post" style="padding-top: 40px">
            <div class="login">
                <input type="text" name="username" placeholder="Логин"/>
            </div>
            <div class="password">
                <input type="password" name="password" placeholder="Пароль"/>
            </div>
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
            <div>
                <input class="buttonSingIn" type="submit" value="Авторизоваться"/>
            </div>
            <div>
                <a class="buttonRegestration" href="/registration">Регистрация</a>
            </div>
        </form>
    </div>
    <div class="blockThirdLogin">

    </div>
</div>
</body>
</html>