<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <link rel="stylesheet" type="text/css" href="/css/Main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/clock.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/animation.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="//w.24timezones.com/l.js" async></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ace57522-9e61-4e29-8a92-5ba343510794" type="text/javascript"></script>
</head>
<body>
<div class="mainBlock">
    <header>
        <div class="blockOne">
            <div class="emblem" style="background-color: yellow">
                <img src="/images/frontal-taxi-cab.png">
            </div>
            <div class="mainMenu" style="background-color: #6c757d">
                <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2"
                            aria-controls="navbar2" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar2">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="#">Сервис</a></li>
                            <li><a class="nav-link" href="#">Мои заказы</a></li>
                            <li><a class="nav-link" href="#">Контакты</a></li>

                            <div th:each="role : ${user.roles}">
                                <div th:switch="${role}">
                                    <li th:case="${T(taxiservice.entity.Role).ADMIN}"><a class="nav-link" href="/admin">Меню администратора</a></li>
                                    <li th:case="${T(taxiservice.entity.Role).TAXIDRIVER}"><a class="nav-link" href="/taximenu">Меню таксиста</a></li>
                                    <li th:case="${T(taxiservice.entity.Role).USER}"><a class="nav-link" href="/usermenu">Меню пользователя</a></li>
                                </div>

                            </div>


                        </ul>
                    </div>
                </nav>
            </div>
            <div class="accaunt" style="background-color: yellow">
                <button type="button" id="f" class="btn btn-outline-secondary " data-toggle="modal"
                        data-target="#exampleModal" >
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                    <h6 th:utext="${user.username}"/>

                </button>
                <button type="submit" class="btn btn-outline-success" onclick="test()">Заказать</button>
            </div>

        </div>
    </header>
    <div class="cssload-spin-box"></div>
    <div class="blockTwo">
        <div></div>
        <div id="map" style="opacity: 0"></div>
        <div class="newForCars">
            <div id="first" class="section" >
                    <div class="container">
                        <input type="radio" name="group1" id="radio-1">
                        <label for="radio-1"><span class="radio">
                            <img src="/images/sedan-car-model.png"></span>
                        </label>
                    </div>
                    <div class="container">
                        <input type="radio" name="group1" id="radio-2">
                        <label for="radio-2"><span class="radio">
                            <img src="/images/car-of-hatchback-model.png">
                        </span></label>
                    </div>
                    <div class="container">
                        <input type="radio" name="group1" id="radio-3">
                        <label for="radio-3"><span class="radio"></span>
                            <img src="/images/coupe-car.png">
                        </label>
                    </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Личный кабинет
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/login" method="post">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" id="staticEmail"
                                   placeholder="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="inputPassword"
                                   placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/Main.js"></script>
<script src="/js/Clockjs.js"></script>
<script src="/js/deliveryCalculator.js" type="text/javascript"></script>
</body>

</html>