<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/orders.css"/>
</head>
<body>


<header>
    <div class="emblem">
        <div style="background-color: darkorange">
            <img src="/images/frontal-taxi-cab.png">
        </div>
        <div style="background-color: darkorange"></div>
        <div style="background-color: darkorange">
            <a href="/main"><button type="button" class="btn btn-dark btn-lg">Меню</button></a>

        </div>
    </div>
</header>

<div class="mainBlock" style="background-color: #34383b;border-radius: 50px">
    <div style="padding-top: 50px">
        <table class="table table-bordered" border="1" style="margin: 0 auto">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Откуда</th>
                <th scope="col">Куда</th>
                <th scope="col">Цена</th>
                <th scope="col">Статус</th>
                <th scope="col">Имя таксиста</th>
                <th scope="col">Телефон таксиста</th>
                <th scope="col">Имя заказчика</th>
                <th scope="col">Телефон заказчика</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:each="order : ${orders}">
                <td th:utext="${order.id}"/>
                <td th:utext="${order.departurePoint.address}"/>
                <td th:utext="${order.arrivalPoint.address}"/>
                <td th:utext="${order.price} + ' бел. руб'"/>
                <td th:utext="${order.status}"/>
                <td th:text="${order.taxidriver} ? ${order.taxidriver.user.person.name} : 'Пусто'"/>
                <td th:text="${order.taxidriver} ? ${order.taxidriver.user.person.phoneNumber} : 'Пусто'"/>
                <td th:text="${order.user} ? ${order.user.person.name} : 'Пусто'"/>
                <td th:text="${order.user} ? ${order.user.person.phoneNumber} : 'Пусто'"/>
                <td>

                    <form method="post" action="/orders/status/?message=cancel">
                        <input type="hidden" name="orderId" th:value="${order.id}"/>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <button class="buttonDelete cancel" type="submit" >Отмена</button>
                    </form>

                    <form method="post" action="/orders/status/?message=comming">
                        <input type="hidden" name="orderId" th:value="${order.id}"/>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <button class="buttonDelete inWay" type="submit" >В пути!</button>
                    </form>

                    <form method="post" action="/orders/status/?message=here">
                        <input type="hidden" name="orderId" th:value="${order.id}"/>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <button class="buttonDelete nearYou" type="submit" >Я на месте!</button>
                    </form>

                    <form method="post" action="/orders/status/?message=successful">
                        <input type="hidden" name="orderId" th:value="${order.id}"/>
                        <input type="hidden"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                        <button class="buttonDelete complete" type="submit" >Заказ выполнен</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <a class="buttonAdd" href="/main">Добавить</a>
    </div>

</div>



</body>
</html>