<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/service.css"/>

</head>
<body>
<header>
    <div class="emblem">
        <div style="background-color: yellow">
            <img src="/images/frontal-taxi-cab.png">
        </div>
        <div style="background-color: yellow"></div>
        <div style="background-color: yellow">
            <a href="/main">
                <button type="button" class="btn btn-dark btn-lg">Меню</button>
            </a>

        </div>
    </div>
</header>
<div class="mainBlock" style="background-color: #34383b;border-radius: 50px;">
    <div class="blockOne">
        <div style="background-color: white;border-radius: 15px 0 0 15px">
            <img src="/images/database.png" style="margin-left: 50px;margin-top: 5px">
        </div>
        <div style="background-color: white;border-radius: 0 15px 15px 0">
            <span style="font-family: 'Arial Black';font: bold;color:rgb(53, 167, 110)">
                Удобное хранение информации - cервис позволяет сохранять все данные о поездках, количестве пассажиров, водителях:
    в личном кабинете будет храниться необходимая информация
            </span>
        </div>
    </div>
    <div class="blockTwo">
        <div style="background-color: white;border-radius: 15px 0 0 15px">
            <img src="/images/security.png" style="margin-left: 50px;margin-top: 20px">
        </div>
        <div style="background-color: white;border-radius: 0 15px 15px 0">
            <span style="font-family: 'Arial Black';font: bold;color:rgb(53, 167, 110)">
                Сервис отличается безопасностью -
    для обеспечения круглосуточной бесперебойной работы используются решения, построенные по принципу облачных технологий с полным резервированием всех мощностей;
    в случае выхода одного из серверов система продолжит беспрерывно обслуживать клиентов;
    осуществляется круглосуточный мониторинг доступности сервиса и состояния серверов.
            </span>
        </div>
    </div>
    <div class="blockThree">
        <div style="background-color: white;border-radius: 15px 0 0 15px">
            <img src="/images/gears.png" style="margin-left: 50px;margin-top: 50px">
        </div>
        <div style="background-color: white;border-radius: 0 15px 15px 0">
            <span style="font-family: 'Arial Black';font: bold;color:rgb(53, 167, 110)">
                Мы предоставляем единую систему для управления поездками.
                Проект постоянно развивается и совершенствуется, поэтому если при работе с сервисом у вас возникнут
                какие-либо неудобства, они будут исправлены, а сам сервис – доработан.
    взаимосвязь между водителем и оператором - мгновенный обмен сообщениями между ними. Оператор может видеть, где находится водитель;
    адаптивный сервис - удобно просматривать на любом устройстве – планшетах, смартфонах, больших экранах и т.д.;
    возможность разместить скрипт о заказе на поездку на вашем сайте.

            </span>
        </div>
    </div>

</div>
</body>
</html>