<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/taxi.css"/>
</head>
<body>
<header>
    <div class="emblem">
        <div style="background-color: darkorange">
            <img src="/images/frontal-taxi-cab.png">
        </div>
        <div style="background-color: darkorange"></div>
        <div style="background-color: darkorange">
            <a href="/main">
                <button type="button" class="btn btn-dark btn-lg">Меню</button>
            </a>

        </div>
    </div>
</header>
<div class="mainBlock mainBlockEdit">
    <div style="background-color: darkkhaki;margin: 0 auto;width: 600px;border-radius: 20px">
        <form method="post" style="margin-left: 15%;padding-top: 20px">
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-sm-10">
                        <select class="form-control" name="taxistId">
                            <div th:each="taxist : ${taxists}">
                                <option th:value="${taxist.id}">
                                    <span th:utext="${taxist.person.name} + ' ' + ${taxist.person.surname}"/>
                                </option>
                            </div>
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <select class="form-control" name="carId">
                            <div th:each="car : ${cars}">
                                <option th:value="${car.id}">
                                    <span th:utext="${car.mark} + ' ' + ${car.model} + ' ' + ${car.govnumber}"/>
                                </option>
                            </div>
                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" name="currentLocation" class="form-control"
                               placeholder="Введите место нахождение">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <select class="form-control" name="status">

                            <option value="true">
                                Занят
                            </option>

                            <option value="false">
                                Свободен
                            </option>

                        </select>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control"
                               th:name="${_csrf.parameterName}"
                               th:value="${_csrf.token}"/>
                    </div>
                </div>

                <button class="buttonAdd" type="submit">Добавить</button>

            </div>
        </form>

    </div>
</div>


</body>
</html>